#demo {
  z-index: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "YACgEcnJpjs 0", _fb_, auto;
}
.container .ceri-title {
  position: absolute;
  left: 720px;
  top: 60px;
  font-size: 40px;
  font-weight: bold;
  color: rgb(14,69,115);
}
.ceri-into {
  position: absolute;
  left: 600px;
  top: 150px;
  color: rgb(14, 69, 115);
  font-family: "YACgEcnJpjs 0", _fb_, auto;
  font-weight: 400;
  font-size: 20px;
}
.ceri-into-eng {
  position: absolute;
  left: 600px;
  top: 180px;
  color: rgb(14, 69, 115);
  font-family: "YACgEcnJpjs 0", _fb_, auto;
  font-weight: 600;
  font-size: 20px;
}
.ceri-name {
  position: absolute;
  left: 780px;
  top: 230px;
  color: rgb(51,213,172);
  font-weight: 700;
  font-size: 36px;
}
.ceri-name-small {
  position: absolute;
  left: 850px;
  top: 240px;
  color: rgb(51,213,172);
  font-weight: 700;
  font-size: 24px;
}
.info-text {
  position: absolute;
  left: 560px;
  top: 360px;
  font-size: 20px;
}
.slogan {
  position: absolute;
  left: 560px;
  top: 290px;
  font-size: 20px;
  font-weight: 700;
}
.weid {
  position: absolute;
  left: 760px;
  top: 290px;
  font-size: 20px;
  font-weight: 700;
}
.weid-text {
  position: absolute;
  width: 300px;
  left: 820px;
  top: 290px;
  font-size: 18px;
  word-wrap: break-word; 
  word-break: break-all; 
}
.slogan-text {
  position: absolute;
  left: 640px;
  top: 290px;
  font-size: 18px;
}
.price {
  position: absolute;
  left: 890px;
  top: 356px;
  color: red;
  font-size: 24px;
}
.guli {
  position: absolute;
  left: 720px;
  top: 400px;
  font-size: 24px;
}
.signature {
  position: absolute;
  top: 500px;
  left: 502px;
  font-family: "YACgEcnJpjs 0", _fb_, auto;
  font-weight: 600;
  font-size: 20px;
}
.creator {
  position: absolute;
  top: 500px;
  left: 940px;
  font-family: "YACgEcnJpjs 0", _fb_, auto;
  font-weight: 600;
  font-size: 20px;
}
.signature-text {
  position: absolute;
  width: 180px;
  top: 542px;
  left: 460px;
  font-size: 16px;
  word-wrap: break-word; 
  word-break: break-all; 
}
.creator-text {
  position: absolute;
  width: 180px;
  top: 542px;
  left: 900px;
  font-size: 16px;
  word-wrap: break-word; 
  word-break: break-all; 
}
.type {
  position: absolute;
  width: 180px;
  top: 600px;
  left: 690px;
  font-size: 20px;
}
.time {
  position: absolute;
  top: 680px;
  left: 620px;
  font-size: 16px;
}